<!DOCTYPE html>
<html>
<head>
<style>
.aaa{
    background-color: var(--box-background-color);
    border-radius: var(--box-border-radius);
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
    border-bottom: 1px solid #3897d4;
    background:#FFF;
}
#bar {
    width: 500px;
    height: 500px;
    font-size: 50px;
    float: left;
    margin-right: 20px;
}

</style>
</head>
<body background='http://127.0.0.1:5000/static/21.jpg'>

<h2>欢迎</h2>



<div id='bar'>
<div class='aaa'>
<form action="/create" method="GET">
    创建账户:
    <input type="submit" class="button" name="guess" value="创建" />
</form>

<form action="/mine" method="GET">
    挖矿:
    <input type="submit" class="button" name="guess" value="挖矿" />
</form>

<form action="/chain"method="GET">
    查看链:
    <input type="submit" class="button" name="guess" value="查看" />
</form>

</div>


</div>
</body>
</html>
