<!DOCTYPE html>
<html>
<head>
<style>
.aaa{
    background-color: var(--box-background-color);
    border-radius: var(--box-border-radius);
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
    border-bottom: 1px solid #3897d4;
    background:#FFF;
}
#bar {
    width: 300px;
    float: left;
    margin-right: 20px;
}

</style>
</head>
<body background='http://img1.3lian.com/img013/v4/29/d/21.jpg'>

<h2>欢迎</h2>



<div id='bar'>
<div class='aaa'>
<form action="/index" method="POST">
    输入私钥: <input type="text" name="passwd" />
    <input type="submit" class="button" name="guess" value="登陆" />
</form>
</div>
<br>


</div>
</body>
</html>
